{% extends 'base.html' %}

{% block get_title %}
<title>Events Hub</title>
{% endblock get_title %}

{% block get_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}">
{% endblock get_static %}

{% block content %}
<header class="sticky-header">
        <h1 class="hub-heading">
            <span class="letter n1">E</span>
            <span class="letter n2">v</span>
            <span class="letter n3">e</span>
            <span class="letter n4">n</span>
            <span class="letter n5">t</span>
            <span class="letter n6">s</span>
            <span class="hub-text"> Hub</span>
        </h1>
        <form method="post" class="center-form">
            {% csrf_token %}
            {{ form.google_events_search_query }}
            <button type="submit">Get Events</button>
        </form>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'get_news' %}">News Hub</a>
        </nav>
    </header>

    <div class="event-row">
        {% for event in events %}
        <div class="event">
            <div class="event-content">
                <div class="event-title">{{ event.title }}</div>
                <div class="event-description">{{ event.description }}</div>
                <div class="event-date">Date: {{ event.date }}</div>
                <div class="event-address">Location: {{ event.address }}</div>
                <a class="event-link" href="{{ event.link }}" target="_blank">Read more</a>
            </div>
            <div class="event-image">
                <img src="{{ event.image }}" alt="{{ event.title }}">
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 == 0 %}
        </div>
        <div class="event-row">
        {% endif %}
        {% endfor %}
    </div>


{% endblock content%}