/* styles.css */

/* Set Helvetica font for all elements */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, input, button {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #EEEEEE;
    padding: 10px 0;
}

/* Center-align the text within the header */
header h1 {
    text-align: center; /* Center-align the text horizontally */
    margin: 0; /* Remove any default margin to ensure it's centered properly */
    color: #007ea7
}
/* Styling for the header */
header {
    position: sticky; /* Ensure it remains sticky */
    top: 0; /* Stick to the top of the viewport */
    background-color: #EEEEEE; /* Header background color */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
    z-index: 100; /* Ensure it's above other page content */
    padding: 10px 0; /* Add padding to the header for spacing */
}
/* Styling for the form within the header */
header form {
    text-align: center; /* Center the form horizontally */
}

/* Styling for form input fields within the header */
header form input {
    width: 500px; /* Set the width of the input fields */
    max-width: 100%; /* Set a maximum width for the input fields */
    padding: 10px; /* Add padding for spacing */
    margin: 0 5px; /* Add margin between input fields */
    font-size: 12px; /* Adjust font size as needed */

}
/* Optional: Add a minimum width to prevent it from becoming too narrow */
header form input::placeholder {
    width: auto; /* Adjust as needed */
}
/* Styling for the "Get News" button within the header */
header form button {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Add a pointer cursor on hover */
}

/* Hover effect for the "Get News" button within the header */
header form button:hover {
    background-color: #0056b3; /* Change background color on hover */
}
/* styles.css */

/* Style event titles */
.event-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

/* Style date */
.event-date {
    font-weight: bold;
    color: #666;
}




/* Style the "Read More" link */
.event-link {
    color: #007bff;
    text-decoration: none;

}

.event-link:hover {
    text-decoration: underline;
}
/* Style the category and country text to be white */
.center-form label, .center-form select {
    color: #007ea7; /* Set the text color to white */
}
.center-image {
    display: block; /* Make the image a block-level element */
    margin: 0 auto; /* Center the image horizontally */
}



