<!DOCTYPE html>
<html>
<head>
    <title>Event Finder</title>
</head>
<body>
    <h1>Event Finder</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Search">
    </form>
    {% if events %}
    <h2>Events in {{ form.city_location.value }}</h2>
    <ul>
        {% for event in events %}
        <li>{{ event.title }} - {{ event.date }} - {{ event.address }} - <a href="{{ event.link }}" target="_blank">More info</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>